{% extends "employee/layout.html"  %}

{% block title %}
    Pizza Home Page
{% endblock %}

{% block content %}
    <table class="table text-center">
        <thead class="thead-light">
            <tr>
                <th scope="col">Customer ID</th>
                <th scope="col">Order ID</th>
                <th scope="col">Order Status</th>
                <th scope="col">Update Status to Completed</th>
                <th scope="col">Bill Amount</th>
                <th scope="col">Checkout Date and Time</th>
            </tr>
        </thead>

        {% for i in orders %}
        <tbody>
            <tr>
                <td>{{ i.cust_id_id }}</td>
                <td>{{ i.id }}</td>
                <td>{{ i.order_status }}</td>
                <td> 
                    <button type="submit">
                        <a href="/employee/update/{{ i.id }}">Update</a>            
                    </button>
                </td>        
                <td>{{ i.bill_amount }}</td>
                <td>{{ i.checkout_time }}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
{% endblock %}