{% extends "layout.html" %}

{% block title %}
    Sign up
{% endblock %}

{% block content %}
    <div class='mx-auto w-50 p-3'>
        <h3 class='text-center'> Create your account</h3>

        <form action="/signup" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control" name="first_name" placeholder="First name">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="last_name" placeholder="Last name">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <input type="email" class="form-control" name="email" placeholder="Email address">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Sign up</button>
        </form>
    </div>
{% endblock %}